In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('Titanic-Dataset.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
df = pd.get_dummies(data=df, columns=['Sex', 'Embarked'], drop_first=True)
df

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Sex_male,Embarked_Q,Embarked_S
0,1,0,3,"Braund, Mr. Owen Harris",22.0,1,0,A/5 21171,7.2500,NaN,1,0,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,1,0,PC 17599,71.2833,C85,0,0,0
2,3,1,3,"Heikkinen, Miss. Laina",26.0,0,0,STON/O2. 3101282,7.9250,NaN,0,0,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,1,0,113803,53.1000,C123,0,0,1
4,5,0,3,"Allen, Mr. William Henry",35.0,0,0,373450,8.0500,NaN,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",27.0,0,0,211536,13.0000,NaN,1,0,1
887,888,1,1,"Graham, Miss. Margaret Edith",19.0,0,0,112053,30.0000,B42,0,0,1
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",NaN,1,2,W./C. 6607,23.4500,NaN,0,0,1
889,890,1,1,"Behr, Mr. Karl Howell",26.0,0,0,111369,30.0000,C148,1,0,0
890,891,0,3,"Dooley, Mr. Patrick",32.0,0,0,370376,7.7500,NaN,1,1,0

In [4]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Sex_male', 'Embarked_Q', 'Embarked_S'],
      dtype='object')

In [5]:
df = df.drop(columns=['PassengerId','Name', 'Ticket', 'Cabin'])
df.head()

,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_male,Embarked_Q,Embarked_S
0,0,3,22.0,1,0,7.2500,1,0,1
1,1,1,38.0,1,0,71.2833,0,0,0
2,1,3,26.0,0,0,7.9250,0,0,1
3,1,1,35.0,1,0,53.1000,0,0,1
4,0,3,35.0,0,0,8.0500,1,0,1

In [6]:
X = df.drop(columns='Survived')
y = df.Survived

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [8]:
from tensorflow.keras import layers
from tensorflow.keras.models import Sequential

ann = Sequential([
    layers.Dense(units=4, activation='relu', dtype='float64'),
    layers.Dense(units=4, activation='relu', dtype='float64'),
    layers.Dense(units=1, activation='sigmoid', dtype='float64'),   # LogisticRegression
])
ann.compile(optimizer='adam', loss='binary_crossentropy', metrics='accuracy')
history = ann.fit(X_train,
                  y_train,
                  batch_size=16,
                  validation_data=(X_test, y_test),
                  epochs=100,
                  verbose=1)

Epoch 1/100
39/39 [==============================] - 1s 7ms/step - loss: nan - accuracy: 0.6228 - val_loss: nan - val_accuracy: 0.5858
Epoch 2/100
39/39 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 3/100
39/39 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 4/100
39/39 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 5/100
39/39 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 6/100
39/39 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 7/100
39/39 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 8/100
39/39 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 9/100
39/39 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 10/100
39/39 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 11/100
39/39 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 12/100
39/39 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 13/100
39/39 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 14/100
39/39 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 15/100
39/39 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 16/100
39/39 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 17/100
39/39 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 18/100
39/39 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 19/100
39/39 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 20/100
39/39 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 21/100
39/39 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 22/100
39/39 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 23/100
39/39 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 24/100
39/39 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 25/100
39/39 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 26/100
39/39 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 27/100
39/39 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 28/100
39/39 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 29/100
39/39 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 30/100
39/39 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 31/100
39/39 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 32/100
39/39 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 33/100
39/39 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 34/100
39/39 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 35/100
39/39 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 36/100
39/39 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 37/100
39/39 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 38/100
39/39 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 39/100
39/39 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 40/100
39/39 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 41/100
39/39 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 42/100
39/39 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 43/100
39/39 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 44/100
39/39 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 45/100
39/39 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 46/100
39/39 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 47/100
39/39 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 48/100
39/39 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 49/100
39/39 [==============================] - 0s 5ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 50/100
39/39 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 51/100
39/39 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 52/100
39/39 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 53/100
39/39 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 54/100
39/39 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 55/100
39/39 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 56/100
39/39 [==============================] - 0s 5ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 57/100
39/39 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 58/100
39/39 [==============================] - 0s 6ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 59/100
39/39 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 60/100
39/39 [==============================] - 0s 5ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 61/100
39/39 [==============================] - 0s 6ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 62/100
39/39 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 63/100
39/39 [==============================] - 0s 6ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 64/100
39/39 [==============================] - 0s 7ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 65/100
39/39 [==============================] - 0s 6ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 66/100
39/39 [==============================] - 0s 10ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 67/100
39/39 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 68/100
39/39 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 69/100
39/39 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 70/100
39/39 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 71/100
39/39 [==============================] - 0s 6ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 72/100
39/39 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 73/100
39/39 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 74/100
39/39 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 75/100
39/39 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 76/100
39/39 [==============================] - 0s 5ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 77/100
39/39 [==============================] - 0s 7ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 78/100
39/39 [==============================] - 0s 5ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 79/100
39/39 [==============================] - 0s 6ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 80/100
39/39 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 81/100
39/39 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 82/100
39/39 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 83/100
39/39 [==============================] - 0s 8ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 84/100
39/39 [==============================] - 0s 9ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 85/100
39/39 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 86/100
39/39 [==============================] - 0s 6ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 87/100
39/39 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 88/100
39/39 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 89/100
39/39 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 90/100
39/39 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 91/100
39/39 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 92/100
39/39 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 93/100
39/39 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 94/100
39/39 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 95/100
39/39 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 96/100
39/39 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 97/100
39/39 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 98/100
39/39 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 99/100
39/39 [==============================] - 0s 3ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858
Epoch 100/100
39/39 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.6292 - val_loss: nan - val_accuracy: 0.5858

In [15]:
from ann_visualizer.visualize import ann_viz;

ann_viz(ann, title="My first neural network")

ModuleNotFoundError: No module named 'ann_visualizer'