In [47]:
import pandas as pd

## Erstelle aus `bank-churn.csv` einen DataFrame

In [48]:
df = pd.read_csv('data/bank-churn.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

## Data Cleaning

In [49]:
df = df.drop(columns=["CustomerId", "Surname", "RowNumber"])
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [50]:
df = pd.get_dummies(data=df, columns=['Gender', 'Geography'], drop_first=True)
df.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Gender_Male,Geography_Germany,Geography_Spain
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,0,1
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,0,1

## Training
* 20% Testdaten
* `random_state=42` sofern unterstützt
* target feature: `Exited`
* Ziel: score von 0.85

In [51]:
from sklearn.model_selection import train_test_split

X = df.drop(columns='Exited')
y = df['Exited']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [52]:
X_train

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Gender_Male,Geography_Germany,Geography_Spain
9254,686,32,6,0.00,2,1,1,179093.26,1,0,0
1561,632,42,4,119624.60,2,1,1,195978.86,1,1,0
1670,559,24,3,114739.92,1,1,0,85891.02,1,0,1
6087,561,27,9,135637.00,1,1,0,153080.40,0,0,0
6669,517,56,9,142147.32,1,0,0,39488.04,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
5734,768,54,8,69712.74,1,1,1,69381.05,1,0,0
5191,682,58,1,0.00,1,1,1,706.50,0,0,0
5390,735,38,1,0.00,3,0,0,92220.12,0,0,0
860,667,43,8,190227.46,1,1,0,97508.04,1,0,0
7270,697,51,1,147910.30,1,1,1,53581.14,1,1,0

In [53]:
from tensorflow.keras import layers
from tensorflow.keras.models import Sequential

ann = Sequential([
    layers.Dense(units=11, activation='relu', dtype='float64'),
    layers.Dense(units=11, activation='relu', dtype='float64'),
    layers.Dense(units=1, activation='sigmoid', dtype='float64'),   # LogisticRegression
])

ann.compile(optimizer='adam', loss='binary_crossentropy', metrics='accuracy')
history = ann.fit(X_train,
                  y_train,
                  batch_size=16,
                  validation_data=(X_test, y_test),
                  epochs=100,
                  verbose=1)

Epoch 1/100
500/500 [==============================] - 3s 3ms/step - loss: 712.9171 - accuracy: 0.6960 - val_loss: 17.3051 - val_accuracy: 0.7080
Epoch 2/100
500/500 [==============================] - 1s 2ms/step - loss: 28.8556 - accuracy: 0.6842 - val_loss: 22.6390 - val_accuracy: 0.4950
Epoch 3/100
500/500 [==============================] - 1s 2ms/step - loss: 26.4203 - accuracy: 0.6809 - val_loss: 33.5610 - val_accuracy: 0.4675
Epoch 4/100
500/500 [==============================] - 1s 2ms/step - loss: 31.6878 - accuracy: 0.6764 - val_loss: 13.3506 - val_accuracy: 0.7265
Epoch 5/100
500/500 [==============================] - 1s 2ms/step - loss: 25.1344 - accuracy: 0.6804 - val_loss: 17.7406 - val_accuracy: 0.7875
Epoch 6/100
500/500 [==============================] - 1s 2ms/step - loss: 22.3433 - accuracy: 0.6769 - val_loss: 13.1031 - val_accuracy: 0.3910
Epoch 7/100
500/500 [==============================] - 1s 2ms/step - loss: 20.2384 - accuracy: 0.6785 - val_loss: 36.8579 - val_accuracy: 0.7525
Epoch 8/100
500/500 [==============================] - 1s 2ms/step - loss: 24.4536 - accuracy: 0.6796 - val_loss: 13.1251 - val_accuracy: 0.5315
Epoch 9/100
500/500 [==============================] - 1s 2ms/step - loss: 17.9147 - accuracy: 0.6836 - val_loss: 14.3148 - val_accuracy: 0.7110
Epoch 10/100
500/500 [==============================] - 1s 2ms/step - loss: 20.6573 - accuracy: 0.6833 - val_loss: 8.1650 - val_accuracy: 0.7960
Epoch 11/100
500/500 [==============================] - 1s 2ms/step - loss: 24.7685 - accuracy: 0.6761 - val_loss: 8.2242 - val_accuracy: 0.8000
Epoch 12/100
500/500 [==============================] - 1s 2ms/step - loss: 22.3621 - accuracy: 0.6787 - val_loss: 17.9111 - val_accuracy: 0.4740
Epoch 13/100
500/500 [==============================] - 1s 2ms/step - loss: 21.3032 - accuracy: 0.6848 - val_loss: 24.1490 - val_accuracy: 0.8015
Epoch 14/100
500/500 [==============================] - 1s 1ms/step - loss: 19.1990 - accuracy: 0.6812 - val_loss: 15.9846 - val_accuracy: 0.8025
Epoch 15/100
500/500 [==============================] - 1s 1ms/step - loss: 21.0987 - accuracy: 0.6804 - val_loss: 20.8300 - val_accuracy: 0.5235
Epoch 16/100
500/500 [==============================] - 1s 1ms/step - loss: 20.0775 - accuracy: 0.6883 - val_loss: 20.4423 - val_accuracy: 0.5975
Epoch 17/100
500/500 [==============================] - 1s 1ms/step - loss: 19.8342 - accuracy: 0.6800 - val_loss: 6.9658 - val_accuracy: 0.7365
Epoch 18/100
500/500 [==============================] - 1s 1ms/step - loss: 17.4135 - accuracy: 0.6855 - val_loss: 29.0860 - val_accuracy: 0.8020
Epoch 19/100
500/500 [==============================] - 1s 2ms/step - loss: 19.4410 - accuracy: 0.6839 - val_loss: 13.2884 - val_accuracy: 0.5955
Epoch 20/100
500/500 [==============================] - 1s 2ms/step - loss: 18.2771 - accuracy: 0.6856 - val_loss: 14.3264 - val_accuracy: 0.8015
Epoch 21/100
500/500 [==============================] - 1s 2ms/step - loss: 17.6477 - accuracy: 0.6865 - val_loss: 11.9018 - val_accuracy: 0.8025
Epoch 22/100
500/500 [==============================] - 1s 2ms/step - loss: 19.6912 - accuracy: 0.6830 - val_loss: 13.1311 - val_accuracy: 0.6560
Epoch 23/100
500/500 [==============================] - 1s 2ms/step - loss: 16.3065 - accuracy: 0.6904 - val_loss: 22.9761 - val_accuracy: 0.8030
Epoch 24/100
500/500 [==============================] - 1s 2ms/step - loss: 15.4373 - accuracy: 0.6845 - val_loss: 14.8808 - val_accuracy: 0.8050
Epoch 25/100
500/500 [==============================] - 1s 2ms/step - loss: 16.7933 - accuracy: 0.6846 - val_loss: 23.5270 - val_accuracy: 0.4535
Epoch 26/100
500/500 [==============================] - 1s 1ms/step - loss: 18.8513 - accuracy: 0.6830 - val_loss: 13.1114 - val_accuracy: 0.7345
Epoch 27/100
500/500 [==============================] - 1s 2ms/step - loss: 17.0627 - accuracy: 0.6824 - val_loss: 17.1485 - val_accuracy: 0.6710
Epoch 28/100
500/500 [==============================] - 1s 2ms/step - loss: 18.4313 - accuracy: 0.6862 - val_loss: 26.4872 - val_accuracy: 0.5990
Epoch 29/100
500/500 [==============================] - 1s 1ms/step - loss: 16.3614 - accuracy: 0.6820 - val_loss: 5.5679 - val_accuracy: 0.7730
Epoch 30/100
500/500 [==============================] - 1s 1ms/step - loss: 15.1337 - accuracy: 0.6858 - val_loss: 22.4599 - val_accuracy: 0.6750
Epoch 31/100
500/500 [==============================] - 1s 2ms/step - loss: 16.7096 - accuracy: 0.6916 - val_loss: 18.2175 - val_accuracy: 0.5715
Epoch 32/100
500/500 [==============================] - 1s 2ms/step - loss: 12.6648 - accuracy: 0.6944 - val_loss: 10.8309 - val_accuracy: 0.7330
Epoch 33/100
500/500 [==============================] - 1s 2ms/step - loss: 15.8096 - accuracy: 0.6866 - val_loss: 4.8710 - val_accuracy: 0.7925
Epoch 34/100
500/500 [==============================] - 1s 2ms/step - loss: 14.0996 - accuracy: 0.6873 - val_loss: 17.8827 - val_accuracy: 0.4155
Epoch 35/100
500/500 [==============================] - 1s 2ms/step - loss: 18.5103 - accuracy: 0.6845 - val_loss: 8.8670 - val_accuracy: 0.8000
Epoch 36/100
500/500 [==============================] - 1s 2ms/step - loss: 14.6293 - accuracy: 0.6849 - val_loss: 24.5930 - val_accuracy: 0.8020
Epoch 37/100
500/500 [==============================] - 1s 1ms/step - loss: 12.1661 - accuracy: 0.6955 - val_loss: 17.4683 - val_accuracy: 0.7580
Epoch 38/100
500/500 [==============================] - 1s 1ms/step - loss: 13.6964 - accuracy: 0.6916 - val_loss: 14.1738 - val_accuracy: 0.6905
Epoch 39/100
500/500 [==============================] - 1s 1ms/step - loss: 12.7201 - accuracy: 0.6931 - val_loss: 4.1043 - val_accuracy: 0.6355
Epoch 40/100
500/500 [==============================] - 1s 1ms/step - loss: 14.7651 - accuracy: 0.6891 - val_loss: 10.9908 - val_accuracy: 0.8030
Epoch 41/100
500/500 [==============================] - 1s 2ms/step - loss: 14.2198 - accuracy: 0.6805 - val_loss: 14.7750 - val_accuracy: 0.8035
Epoch 42/100
500/500 [==============================] - 1s 2ms/step - loss: 12.9577 - accuracy: 0.6973 - val_loss: 7.6680 - val_accuracy: 0.6825
Epoch 43/100
500/500 [==============================] - 1s 2ms/step - loss: 12.0144 - accuracy: 0.6901 - val_loss: 12.9626 - val_accuracy: 0.8010
Epoch 44/100
500/500 [==============================] - 1s 2ms/step - loss: 11.9955 - accuracy: 0.6936 - val_loss: 7.5076 - val_accuracy: 0.7345
Epoch 45/100
500/500 [==============================] - 1s 2ms/step - loss: 14.9734 - accuracy: 0.6852 - val_loss: 27.9792 - val_accuracy: 0.2455
Epoch 46/100
500/500 [==============================] - 1s 2ms/step - loss: 12.4992 - accuracy: 0.6899 - val_loss: 16.0386 - val_accuracy: 0.5135
Epoch 47/100
500/500 [==============================] - 1s 2ms/step - loss: 11.4373 - accuracy: 0.6905 - val_loss: 10.3296 - val_accuracy: 0.8030
Epoch 48/100
500/500 [==============================] - 1s 2ms/step - loss: 10.9027 - accuracy: 0.6901 - val_loss: 7.6293 - val_accuracy: 0.7170
Epoch 49/100
500/500 [==============================] - 1s 1ms/step - loss: 12.5096 - accuracy: 0.6819 - val_loss: 4.5739 - val_accuracy: 0.7410
Epoch 50/100
500/500 [==============================] - 1s 1ms/step - loss: 14.0506 - accuracy: 0.6837 - val_loss: 9.7905 - val_accuracy: 0.4845
Epoch 51/100
500/500 [==============================] - 1s 1ms/step - loss: 12.7476 - accuracy: 0.6862 - val_loss: 8.3809 - val_accuracy: 0.7425
Epoch 52/100
500/500 [==============================] - 1s 2ms/step - loss: 11.8499 - accuracy: 0.6869 - val_loss: 9.3469 - val_accuracy: 0.8030
Epoch 53/100
500/500 [==============================] - 1s 2ms/step - loss: 13.0022 - accuracy: 0.6905 - val_loss: 4.2022 - val_accuracy: 0.7980
Epoch 54/100
500/500 [==============================] - 1s 2ms/step - loss: 11.7959 - accuracy: 0.6859 - val_loss: 14.6856 - val_accuracy: 0.8030
Epoch 55/100
500/500 [==============================] - 1s 2ms/step - loss: 12.7510 - accuracy: 0.6890 - val_loss: 20.5003 - val_accuracy: 0.8025
Epoch 56/100
500/500 [==============================] - 1s 2ms/step - loss: 12.1901 - accuracy: 0.6902 - val_loss: 9.3235 - val_accuracy: 0.8035
Epoch 57/100
500/500 [==============================] - 1s 2ms/step - loss: 11.2683 - accuracy: 0.6905 - val_loss: 7.7036 - val_accuracy: 0.7870
Epoch 58/100
500/500 [==============================] - 1s 2ms/step - loss: 11.2950 - accuracy: 0.6906 - val_loss: 12.2374 - val_accuracy: 0.7660
Epoch 59/100
500/500 [==============================] - 1s 2ms/step - loss: 10.0125 - accuracy: 0.6951 - val_loss: 3.7367 - val_accuracy: 0.6875
Epoch 60/100
500/500 [==============================] - 1s 2ms/step - loss: 9.0111 - accuracy: 0.6961 - val_loss: 5.6533 - val_accuracy: 0.7070
Epoch 61/100
500/500 [==============================] - 1s 1ms/step - loss: 9.9864 - accuracy: 0.6849 - val_loss: 6.4107 - val_accuracy: 0.6905
Epoch 62/100
500/500 [==============================] - 1s 1ms/step - loss: 10.6568 - accuracy: 0.6844 - val_loss: 11.8262 - val_accuracy: 0.6115
Epoch 63/100
500/500 [==============================] - 1s 1ms/step - loss: 10.7702 - accuracy: 0.6952 - val_loss: 7.7999 - val_accuracy: 0.6545
Epoch 64/100
500/500 [==============================] - 1s 1ms/step - loss: 11.3452 - accuracy: 0.6896 - val_loss: 10.3569 - val_accuracy: 0.8035
Epoch 65/100
500/500 [==============================] - 1s 2ms/step - loss: 10.0850 - accuracy: 0.6934 - val_loss: 16.6683 - val_accuracy: 0.5250
Epoch 66/100
500/500 [==============================] - 1s 2ms/step - loss: 12.2988 - accuracy: 0.6826 - val_loss: 6.0950 - val_accuracy: 0.5810
Epoch 67/100
500/500 [==============================] - 1s 2ms/step - loss: 9.0413 - accuracy: 0.6942 - val_loss: 6.8996 - val_accuracy: 0.6770
Epoch 68/100
500/500 [==============================] - 1s 2ms/step - loss: 7.9512 - accuracy: 0.6939 - val_loss: 12.5072 - val_accuracy: 0.5745
Epoch 69/100
500/500 [==============================] - 1s 2ms/step - loss: 9.4147 - accuracy: 0.6888 - val_loss: 4.1740 - val_accuracy: 0.6220
Epoch 70/100
500/500 [==============================] - 1s 2ms/step - loss: 10.1122 - accuracy: 0.6871 - val_loss: 6.7424 - val_accuracy: 0.5510
Epoch 71/100
500/500 [==============================] - 1s 2ms/step - loss: 9.1164 - accuracy: 0.6870 - val_loss: 14.5506 - val_accuracy: 0.8035
Epoch 72/100
500/500 [==============================] - 1s 1ms/step - loss: 9.1867 - accuracy: 0.6896 - val_loss: 4.7889 - val_accuracy: 0.7950
Epoch 73/100
500/500 [==============================] - 1s 1ms/step - loss: 10.6197 - accuracy: 0.6917 - val_loss: 5.6631 - val_accuracy: 0.7845
Epoch 74/100
500/500 [==============================] - 1s 1ms/step - loss: 6.2882 - accuracy: 0.7051 - val_loss: 9.1373 - val_accuracy: 0.4490
Epoch 75/100
500/500 [==============================] - 1s 2ms/step - loss: 7.9207 - accuracy: 0.6905 - val_loss: 3.4490 - val_accuracy: 0.7980
Epoch 76/100
500/500 [==============================] - 1s 2ms/step - loss: 7.8080 - accuracy: 0.6950 - val_loss: 5.7473 - val_accuracy: 0.8030
Epoch 77/100
500/500 [==============================] - 1s 2ms/step - loss: 7.5469 - accuracy: 0.6946 - val_loss: 8.9529 - val_accuracy: 0.7205
Epoch 78/100
500/500 [==============================] - 1s 2ms/step - loss: 7.3245 - accuracy: 0.6925 - val_loss: 10.3410 - val_accuracy: 0.8025
Epoch 79/100
500/500 [==============================] - 1s 2ms/step - loss: 8.8276 - accuracy: 0.6933 - val_loss: 9.6313 - val_accuracy: 0.8040
Epoch 80/100
500/500 [==============================] - 1s 2ms/step - loss: 6.6343 - accuracy: 0.6991 - val_loss: 3.6143 - val_accuracy: 0.5115
Epoch 81/100
500/500 [==============================] - 1s 2ms/step - loss: 7.4992 - accuracy: 0.6898 - val_loss: 3.2158 - val_accuracy: 0.7780
Epoch 82/100
500/500 [==============================] - 1s 2ms/step - loss: 6.9745 - accuracy: 0.6974 - val_loss: 17.5107 - val_accuracy: 0.8040
Epoch 83/100
500/500 [==============================] - 1s 2ms/step - loss: 7.1633 - accuracy: 0.6938 - val_loss: 3.8341 - val_accuracy: 0.7220
Epoch 84/100
500/500 [==============================] - 1s 2ms/step - loss: 6.3778 - accuracy: 0.6942 - val_loss: 9.0377 - val_accuracy: 0.8025
Epoch 85/100
500/500 [==============================] - 1s 2ms/step - loss: 7.3846 - accuracy: 0.6936 - val_loss: 7.4316 - val_accuracy: 0.7930
Epoch 86/100
500/500 [==============================] - 1s 2ms/step - loss: 7.5013 - accuracy: 0.6920 - val_loss: 3.2399 - val_accuracy: 0.6175
Epoch 87/100
500/500 [==============================] - 1s 2ms/step - loss: 6.3198 - accuracy: 0.6894 - val_loss: 6.4452 - val_accuracy: 0.5385
Epoch 88/100
500/500 [==============================] - 1s 1ms/step - loss: 6.1024 - accuracy: 0.6957 - val_loss: 3.7650 - val_accuracy: 0.5595
Epoch 89/100
500/500 [==============================] - 1s 2ms/step - loss: 5.6037 - accuracy: 0.6988 - val_loss: 7.4776 - val_accuracy: 0.8035
Epoch 90/100
500/500 [==============================] - 1s 2ms/step - loss: 6.1114 - accuracy: 0.6944 - val_loss: 6.1402 - val_accuracy: 0.6190
Epoch 91/100
500/500 [==============================] - 1s 2ms/step - loss: 5.7429 - accuracy: 0.6915 - val_loss: 3.8483 - val_accuracy: 0.8065
Epoch 92/100
500/500 [==============================] - 1s 2ms/step - loss: 6.3161 - accuracy: 0.6959 - val_loss: 8.3333 - val_accuracy: 0.8035
Epoch 93/100
500/500 [==============================] - 1s 2ms/step - loss: 4.9460 - accuracy: 0.6985 - val_loss: 5.8686 - val_accuracy: 0.8025
Epoch 94/100
500/500 [==============================] - 1s 2ms/step - loss: 4.1687 - accuracy: 0.6923 - val_loss: 2.2487 - val_accuracy: 0.7720
Epoch 95/100
500/500 [==============================] - 1s 1ms/step - loss: 4.7256 - accuracy: 0.6989 - val_loss: 3.5290 - val_accuracy: 0.3550
Epoch 96/100
500/500 [==============================] - 1s 1ms/step - loss: 5.3812 - accuracy: 0.6960 - val_loss: 9.2769 - val_accuracy: 0.8035
Epoch 97/100
500/500 [==============================] - 1s 1ms/step - loss: 5.6780 - accuracy: 0.6950 - val_loss: 5.1360 - val_accuracy: 0.6360
Epoch 98/100
500/500 [==============================] - 1s 1ms/step - loss: 4.8231 - accuracy: 0.6935 - val_loss: 5.0095 - val_accuracy: 0.8030
Epoch 99/100
500/500 [==============================] - 1s 2ms/step - loss: 4.5687 - accuracy: 0.6934 - val_loss: 3.7814 - val_accuracy: 0.7485
Epoch 100/100
500/500 [==============================] - 1s 2ms/step - loss: 4.5896 - accuracy: 0.6952 - val_loss: 11.8665 - val_accuracy: 0.8030

In [38]:
from sklearn import metrics

metrics.accuracy_score(ann.predict(X_test) > 0.5, y_test)

63/63 [==============================] - 0s 2ms/step

0.804

## Interpretiere den rechten oberen Eintrag der Confusion Matrix

In [26]:
from sklearn.metrics import confusion_matrix
predictions = ann.predict(X_test) > 0.5
confusion_matrix(y_test, predictions)

63/63 [==============================] - 0s 2ms/step

array([[1607,    0],
       [ 392,    1]], dtype=int64)

Wir sagen 78 Customer leaven obwohl sie eigentlich bleiben

## Predicte, mit welcher Wahrscheinlichkeit der Kunde aussteigen wird
Er sollte mit etwa 90%iger Wahrscheinlichkeit **bleiben**

In [80]:
df.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Gender_Male,Geography_Germany,Geography_Spain
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,0,1
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,0,1

In [31]:
customer = pd.DataFrame(data={
    'CreditScore': 500,
    'Age': 20,
    'Tenure': 2,
    'Balance': 0.0,
    'NumOfProducts': 1,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 60_000.0,
    'Geography': 'Germany',
    'Gender': 'Male'},
    index=[0])

In [32]:
customer = customer.drop(columns=["Gender", "Geography"])
customer["Gender_Male"] = 1
customer["Geography_Germany"] = 1
customer["Geography_Spain"] = 0
customer

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Gender_Male,Geography_Germany,Geography_Spain
0,500,20,2,0.0,1,1,1,60000.0,1,1,0

In [33]:
1 - ann.predict(customer)

1/1 [==============================] - 0s 28ms/step

array([[0.99999918]])

In [93]:
from sklearn.ensemble import RandomForestClassifier

forest = RandomForestClassifier()
forest.fit(X_train, y_train)
forest.score(X_test, y_test)

0.867

In [95]:
1 - forest.predict(customer)

array([1], dtype=int64)